<form method="post" action="/home">
    <div class="form-group">
        <label for="exampleInputEmail1">Tìm kiếm</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="q"
            placeholder="Nhập từ khoá">
    </div>  
    <button type="submit" class="btn btn-primary">Tìm</button>
</form>